# Bloque l'accès direct aux fichiers phtml
<Files "*.phtml">
  Deny from all
</Files>

# Autorise l'accès aux fichiers phtml uniquement depuis les pages PHP
<FilesMatch "\.php$">
  <Files "*.phtml">
    Allow from all
  </Files>
</FilesMatch>

# Redirige vers la page d'erreur 404
ErrorDocument 404 /error.php

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^Accueil$ index.php [L]
RewriteRule ^Connexion$ connexion.php [L]
RewriteRule ^Inscription$ inscription.php [L]
RewriteRule ^Confirmation$ confirmation.php [L]
RewriteRule ^Moncompte$ account.php [L]
RewriteRule ^Rendez-vous$ rdv.php [L]
RewriteRule ^MesRendez-vous$ mesrdv.php [L]
RewriteRule ^Confirmation$ confirmation.php [L]
RewriteRule ^Déconnexion$ logout.php [L]
RewriteRule ^MentionsLégales$ mention.php [L]
RewriteRule ^ConditionsGénérales$ cgu.php [L]
RewriteRule ^Administrateur$ admin.php [L]
RewriteRule ^Utilisateurs$ user.php [L]
RewriteRule ^GérerDocteurs$ docteur.php [L]
RewriteRule ^ModifierDocteurs$ updateDoctor.php [L]
RewriteRule ^Error$ error.php [L]


# Interdire l'ajout de l'extension .php dans les URL
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^ - [R=404,L]

# masquer les extensions de fichier dans les URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rediriger les URL avec extension .php vers l'URL sans extension
RewriteCond %{THE_REQUEST} \s/+(.+)\.php[\s?] [NC]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ - [R=404,L]


# # Rediriger les URL avec extension .php vers l'URL sans extension
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^(.*)\.php$ /$1 [L,R=301]

# # masquer les extensions de fichier dans les URL
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{DOCUMENT_ROOT}/$1.php -f
# RewriteRule ^(.+)/?$ /$1.php [L]

# # # Rediriger les URL avec extension .php vers l'URL sans extension
# # RewriteCond %{THE_REQUEST} \s/+(.+)\.php[\s?] [NC]
# # RewriteRule ^ /%1 [R=301,L,NE]

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{DOCUMENT_ROOT}/$1.php -f
# RewriteRule ^(.*?)/?$ /$1.php [L]


