# Bloque l'accès direct aux fichiers phtml
<Files "*.phtml">
  Deny from all
</Files>

# Autorise l'accès aux fichiers phtml uniquement depuis les pages PHP
<FilesMatch "\.php$">
  <Files "*.phtml">
    Allow from all
  </Files>
</FilesMatch>

# Redirige vers la page d'erreur 404
ErrorDocument 404 /error.php

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^Accueil$ controllers/index.php [L]
RewriteRule ^Connexion$ controllers/connexion.php [L]
RewriteRule ^Inscription$ controllers/inscription.php [L]
RewriteRule ^Confirmation$ controllers/confirmation.php [L]
RewriteRule ^Moncompte$ controllers/account.php [L]
RewriteRule ^Rendez-vous$ controllers/rdv.php [L]
RewriteRule ^MesRendez-vous$ controllers/mesrdv.php [L]
RewriteRule ^Confirmation$ controllers/confirmation.php [L]
RewriteRule ^Déconnexion$ controllers/logout.php [L]
RewriteRule ^MentionsLégales$ controllers/mention.php [L]
RewriteRule ^ConditionsGénérales$ controllers/cgu.php [L]
RewriteRule ^Administrateur$ controllers/admin.php [L]
RewriteRule ^Utilisateurs$ controllers/user.php [L]
RewriteRule ^GérerDocteurs$ controllers/docteur.php [L]
RewriteRule ^ModifierDocteurs$ controllers/updateDoctor.php [L]
RewriteRule ^Error$ controllers/error.php [L]
RewriteRule ^Rdvsupp$ controllers/rdvsupp.php [L]
RewriteRule ^addDoc$ controllers/addDoc.php [L]
RewriteRule ^updateDoctor$ controllers/updateDoctor.php [L]
RewriteRule ^deleteDoc$ controllers/deleteDoc.php [L]
RewriteRule ^deleteUser$ controllers/deleteUser.php [L]


# Interdire l'ajout de l'extension .php dans les URL
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^ - [R=404,L]

# masquer les extensions de fichier dans les URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rediriger les URL avec extension .php vers l'URL sans extension
RewriteCond %{THE_REQUEST} \s/+(.+)\.php[\s?] [NC]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ - [R=404,L]





